.stock-chart-with-searchbar{

}

* {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.stock-chart-with-searchbar .animated-stock-price{
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}

