.flexbox-container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-left{
    /*won't grow or shrink, keep it 800px*/
    flex: 0 0 100px;
    margin: 10px;
    justify-content: flex-start;
}

.flex-item-mid{
    /*won't grow or shrink, keep it 800px*/
    flex: 0 0 800px;
    margin: 10px;
}

.flex-item-right{
    flex: 0 0 250px;
    margin: 10px;
}

/*@media (max-width: 800px) {*/
/*    .flex-item-right, .flex-item-left {*/
/*        flex: 100%;*/
/*    }*/
/*}*/